*{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
}
.back-img{
    background-image: url('img/intro-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 30%;
    float: left;
    padding-top: 20px;
}
.home-msg{
    width: 60%; 
    line-height: 2;
    text-align: center;
    margin: 0 auto;
    color: white;
}
.showcase{
    font-weight: 500 !important;
}
.promo{
    background-color:#575a5c ;
}
.list-style{
    list-style: none;
}
.foot-color{
    color: white;
}
.foot-color a{
    color: white;
}
.dis-flex{
    display: flex; 
    justify-content: space-around;
}